<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars List</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th class="description">Description</th>
                <th class="price">Price</th>
                <th>Address</th>
                <th class="link">Link</th>
            </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td><img src="{{row['image']}}"></td>
                <td>{{row["title"]}}</td>
                <td>{{row["description"]}}</td>
                <td>{{row["price"]}}</td>
                <td>{{row["address"]}}</td>
                <td><a href="{{row['link']}}">Link</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>